{
  "root": true,
  "extends": "@ljharb",
  "rules": {
    "complexity": 0,
    "eqeqeq": 1,
    "func-style": [2, "declaration"],
    "indent": [2, 2],
    "max-params": [2, 3],
    "max-statements-per-line": [2, { "max": 2 }],
    "strict": 1,
  },
  "globals": {
    "WeakMap": false,
    "WeakSet": false,
  },
  "overrides": [
    {
      "files": "example/**",
      "rules": {
        "no-console": 0,
      }
    },
    {
      "files": "test/**",
      "rules": {
        "max-params": 0,
        "operator-linebreak": [2, "before"],
      },
    },
  ],
}
